photos:
  per_page: 50
social:
  twitter:
    consumer_key: ''
    consumer_secret: ''
  facebook:
    consumer_key: ''
    consumer_secret: ''
  google:
    consumer_key: ''
    consumer_secret: ''
  instagram:
    consumer_key: ''
    consumer_secret: ''
