@import "compass";
@import "compass/css3/border-radius";

#photos {
    border: 1px solid #EEE;
    min-height: 200px;
}

#add-candidate {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 125px;
    width: 1100px;
    padding: 10px 10px;
    height: 125px;
    overflow: scroll;
    white-space: nowrap;
    z-index: 1000;
    @include background-image(linear-gradient(top, #B8B2B7, #F3F4F5));
    @include box-shadow(10px 10px 10px rgba(0,0,0,0.25));
    @include border-radius(10px);

    img {
        max-height: 125px;
        min-width: 100px;
        padding: 0 3px;
    }

    #more-candidate {
        text-align: center;
        padding: 0 15px;
        display: none;
    }
}

#toggle-candidate {
    position: fixed;
    bottom: 10px;
    right: 70px;
    cursor: pointer;

    #toggle-candidate-icon {
        color: #999;
    }

    .toggle-candidate-hover {
        color: #000 !important;
    }
}

.drag-img-active {
    opacity: 0.4;
}
.drop-area-notice {
    border: 1px dashed gray !important;
}
