#albums {
    margin-top: 20px;

    .album {
        background-color: #fff;

        .thumbnail {
            padding: 10px;
        }

        a {
            text-decoration: none;
        }

        .title {
            color: #4083a9;
        }

        .date {
            text-align: right;
            margin: 0;
        }
    }
}

.row-fluid {
    ul.thumbnails {
        li.span12 + li { margin-left : 0px; }
        li.span6:nth-child(2n + 3) { margin-left : 0px; }
        li.span4:nth-child(3n + 4) { margin-left : 0px; }
        li.span3:nth-child(4n + 5) { margin-left : 0px; }
        li.span2:nth-child(6n + 7) { margin-left : 0px; }
        li.span1:nth-child(12n + 13) { margin-left : 0px; }
    }
}
