@import "compass";

#photos {
    border: 1px solid #EEE;
    min-height: 200px;
}

#add-candidate {
    display: none;
    padding: 5px 10px;
    margin-top: 10px;
    max-height: 300px;
    overflow: scroll;
    border: 1px dashed rgb(199, 195, 195);

    img {
        max-height: 100px;
        min-width: 100px;
    }

    #more-candidate {
        text-align: center;
        padding: 25px 0 0 0;
    }
}

#toggle-candidate {
    margin-top: 20px;
}

.drag-img-active {
    opacity: 0.4;
}
.drop-area-notice {
    border: 1px dashed gray !important;
}
