@import "compass";

$side-padding: 40px;
/* $bg-color: #EEE; */

html, body {
    /* background-color: $bg-color; */
    height: 100%;
}

body {
    .box-lid {
        @include perspective(5000px !important);
        min-height: 100%;
        height: auto !important;
    }
    .box-lid-open, .box-lid-menu {
        background: #333333 !important;
    }
    .box-lid-open {
        .box-lid-content {
            @include transform(rotateY(-30deg) translateX(150px) !important);
        }
    }
}

#wrapper {
    padding: 0 $side-padding;
    height: 100%;
    overflow: scroll;

    #box-menu {

        #avatar {
            padding-bottom: 15px;
        }

        a {
            color: #999;
            padding: 4px 15px;

            &:hover {
                text-decoration: none;
                color: #DDD;
                background-color: inherit;
            }
        }
    }

    #contents {
        height: 100%;
        padding-bottom: 15px;
        margin: 0 120px 0 45px;
    }
}

