$side-menu-width: 40px;

html, body {
    background-color: #EEE;
    height: 100%;
}

#wrapper {
    padding-left: $side-menu-width;
    height: 100%;

    #contents {
        height: 100%;
        padding-bottom: 15px;
        margin: 0 120px 0 45px;
    }
}
