@import "compass";
@import "compass/utilities/text/ellipsis";

@mixin zoom-in {
    @include scale(1.25);
    @include box-shadow(rgba(0,0,0,.5) 0 3px 6px);
    position: relative;
    z-index: 5;
}

$polaroid-width: 190px;

#photos {
    #polaroids {
        width: 80%;
        margin: 0 0 18px -10px;

        li {
            @include inline-block;

            &:nth-child(even) .polaroid {
                @include rotate(2deg);
            }

            &:nth-child(3n) .polaroid {
                @include transform(none);
                top: -5px;
            }

            &:nth-child(5n) .polaroid {
                @include rotate(5deg);
                right: 5px;
            }

            &:nth-child(8n) .polaroid {
                right: 5px;
                top: 8px;
            }

            &:nth-child(11n) .polaroid {
                left: -5px;
                top: 3px;
            }

            .polaroid {
                background: #fff;
                display: inline;
                float: left;
                margin: 0 0 27px 30px;
                max-width: $polaroid-width;
                padding: 10px 10px 15px;
                text-align: center;
                text-decoration: none;
                color: #333;
                font-size: 14px;

                @include ellipsis;
                @include box-shadow(rgba(0,0,0,.25) 0 3px 6px);
                @include rotate(-2deg);
                @include transition(transform .15s linear);

                &:hover {
                    @include zoom-in;
                }

                .img-photo {
                    display: block;
                    max-width: $polaroid-width;
                    max-height: 190px;
                    margin-bottom: 12px;
                }
            }
        }
    }
}

#more {
    text-align: center;
    padding-bottom: 10px;

    #load-link {
        width: 30%;
    }

    a {
        border: 1px solid #BDB9B9;
        color: #444;

        &:hover {
            color: #000;
        }
    }
}
