@import "compass";

@mixin zoom-in {
    @include scale(1.25);
    @include box-shadow(rgba(0,0,0,.5) 0 3px 6px);
    position: relative;
    z-index: 5;
}

$polaroid-width: 190px;

h1 {
    padding-bottom: 10px;
}

#photos {
    #polaroids {
        margin: 0 0 18px -10px;

        li {
            @include inline-block;

            .rotate {
                @include rotate(-2deg);
            }

            &:nth-child(even) .rotate {
                @include rotate(2deg);
            }

            &:nth-child(3n) .rotate {
                @include transform(none);
                top: -5px;
            }

            &:nth-child(5n) .rotate {
                @include rotate(5deg);
                right: 5px;
            }

            &:nth-child(8n) .rotate {
                right: 5px;
                top: 8px;
            }

            &:nth-child(11n) .rotate {
                left: -5px;
                top: 3px;
            }

            .polaroid {
                background: #fff;
                display: inline;
                float: left;
                margin: 0 0 27px 20px;
                max-width: $polaroid-width;
                padding: 15px 12px 15px;
                text-decoration: none;
                color: #333;
                font-size: 14px;
                position: relative;
                border: #ffffff solid 5px;

                @include box-shadow(rgba(0,0,0,.25) 0 3px 6px);
                @include transition(transform .15s linear, border-color .6s linear);

                .provider-icon {
                    position: absolute;
                    top: 1px;
                    left: 1px;
                }

                .message {
                    margin: 0px;
                    text-align: center;
                }

                .message-full {
                    display: none;
                    margin: 0;
                }

                .message-toggle {
                    cursor: pointer;
                    &:hover {
                        color: rgb(139, 139, 139);
                    }
                }

                &:hover {
                    @include zoom-in;
                }

                .img-photo {
                    display: block;
                    max-width: $polaroid-width;
                    max-height: 190px;
                    margin: auto;
                    margin-bottom: 12px;
                    padding-top: 2px;
                }
            }

            .frame-twitter {
                &:hover {
                    border-color: #46c0fb;
                }
            }
            .frame-facebook {
                &:hover {
                    border-color: #4863ae;
                }
            }
            .frame-google_oauth2 {
                &:hover {
                    border-color: #4e6cf7;
                }
            }
            .frame-instagram {
                &:hover {
                    border-color: #3f729b;
                }
            }
            .frame-foursquare {
                &:hover {
                    border-color: #44a8e0;
                }
            }
        }
    }
}

#more {
    text-align: center;
    padding-bottom: 10px;

    #load-link {
        width: 30%;
    }

    a {
        border: 1px solid #BDB9B9;
        color: #444;

        &:hover {
            color: #000;
        }
    }
}
