#photos {
    .row {
        margin: 0;
    }
    .photo {
        background-color: #fff;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 5px;
        height: 200px;
        text-overflow: ellipsis;
        box-shadow: 2px 5px 15px #777777;
    }
}
